# Default values for helm-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

namespace: homework1
port: 8080

deployment:
  name: page-downloader
  labels:
    app: homework-deploment
    
    
containers:
  nginx:
    name: nginx
    resources:
      requests:
        cpu: "10m"
        memory: "64Mi"    
      limits:
       cpu: 200m
       memory: 256Mi   


image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: 'latest'
  

probes:
  liveness:
    enabled: true